@{
    ViewBag.Title = "Home Page";
    var tipoDeUsuario = ViewBag.TipoDeUsuario;
}

<div class="jumbotron">
    <h1><img style="height:40px; width:40px;" src="~/Content/Imagens/globo.png" />  Portal de Ciclismo</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-fire">&nbsp;</i>Solução</h2>
        <p>
            O Portal de Ciclismo se trata de uma solução web para atletas e treinadores de ciclismo, utilizando-se das tecnologias consolidadas atualmente,
            tornando o dia a dia de treinamento dos praticantes, entusiastas e profissionais de tal modalidade mais eficientes e prazerosos,
            através do gerenciamento da rotina de treino dos mesmos.
        </p>
    </div>

    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-signal">&nbsp;</i>Objetivos</h2>
        <p>
            Este projeto tem por função primordial estreitar as relações entre ciclistas e seus treinadores, utilizando-se dos meios tecnológicos existentes,
            tornando o contato entre atleta e seu respectivo treinador o mais dinâmico, intuitivo e ágil possível.Tomando por base para desenvolvimento
            de tal solução optou-se pelo uso de primeiramente tecnologias desenvolvidas pela Microsoft e alguns “frameworks” de terceiros,
            que serão abordados posteriormente.
        </p>
    </div>
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-road">&nbsp;</i>Metas Futuras</h2>
        <p>
            Posteriormente, este projeto tem por objetivo trabalhar com o recebimento de dispositivos de gravação de treinos, tais como o Garmin,
            possibilitando assim um processo totalmente automatizado de analise de treinos, porém isso demandaria certo investimento e consequentemente
            a necessidade de patrocinadores parceiros para tal desenvolvimento.
        </p>
    </div>
</div>

